<% layout('layouts/boilerplate') %>


<div class="container d-flex row">
    <div class="mx-auto col-md-9 col-lg-6">
        <h1 class="display-6 text-center">Edit <%= campground.title %></h1>
        <form class="border rounded-3 p-4 my-5" action="/campgrounds/<%=campground.id%>?_method=PUT" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="campground[title]" value="<%= campground.title %>">
                <div class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="campground[location]" value="<%= campground.location %>">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input type="text" class="form-control" id="image" name="campground[image]" value="<%= campground.image %>">
            </div>

            <label for="price" class="form-label">Campground Price</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" id="price" name="campground[price]" value="<%= campground.price %>">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Campground description</label>
                <textarea class="form-control" name="campground[description]" id="description"
                    style="height: 100px"><%= campground.description %></textarea>
            </div>

            <button type="submit" class="btn btn-info">Update campground</button>
            <p class="pt-2">
            <a class="link link-primary" href="/campgrounds/<%= campground.id %>">Back to campground</a>
            </p>
        </form>
    </div>
</div>