<% layout('layouts/boilerplate') %>


<div class="container d-flex row">
    <div class="mx-auto col-md-9 col-lg-6">
        <h1 class="display-6 text-center">Edit <%= campground.title %></h1>
        <form class="needs-validation border rounded-3 p-4 my-5" action="/campgrounds/<%=campground.id%>?_method=PUT" method="POST" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="campground[title]" value="<%= campground.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    You must enter a title for the campground
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="campground[location]" value="<%= campground.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    You must enter the location of the campground
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image(S)</label>
                <div class="custom-file">
                    <input id="image" name="image" type="file" multiple class="form-control" multiple>
                    <label class="m-1 custom-file-label" for="image">
                        <span class="d-inline-block text-muted">Choose file(s)</span>
                    </label>
                </div>


                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    You must enter the location of the campground
                </div>
            </div>

            <label for="price" class="form-label">Campground Price</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" id="price" name="campground[price]" value="<%= campground.price %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    You must enter the location of the campground
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Campground description</label>
                <textarea class="form-control" name="campground[description]" id="description"
                    style="height: 100px" required><%= campground.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        You must enter the location of the campground
                    </div>
            </div>

            <% if(campground.images.length){ %>
                <h1 class="lead mt-5">Campground Images</h1>
                <div class="d-flex row my-3">
                    <% campground.images.forEach((img, idx)=>{ %>
                        <div class="col-lg-6 mb-3">
                            <div class="card mx-auto">
                                <div class="card-body">
                                    <label for="image-<%= idx %> " class="text-center">Delete </label>
                                    <input class="me-0" type="checkbox" name="deleteImages[]" id="image-<%= idx %>" class="form-check-input "
                                    value="<%= img.filename %>">
                                </div>
                                <img src="<%= img.thumbnail %> " class="card-img-top" alt="">
                            </div>
                        </div>
                        <% }) %>
                </div>
            <% } %>  

            <button type="submit" class="btn btn-info">Update campground</button>
            <p class="pt-2">
            <a class="link link-primary" href="/campgrounds/<%= campground.id %>">Back to campground</a>
            </p>
        </form>
    </div>
</div>